.legend {
	text-align: center;
	padding: 10px;
	background-color: #dddddd;
}

.reini {
	color: #ff0000;
}

.krikke {
	color: #00ff00;
}

.john {
	color: #0000ff;
}

.svekke {
	color: #ffffff;
}

.mdl-card__title {
  color: #fff;
  background-color: #46B6AC;
}